*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
button{
	cursor: pointer;
}
button:hover{
	background-color: #282c34;
}
input{
	font-size: large;
	width: 80%;
	background: rgba(243, 243, 243, 0.822);
	border-radius: 5px;
	border: none;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h2{
	color: cornsilk;
}
body{
	background-color: rgb(61, 65, 110);
	height: 100%;
	padding-bottom: 100px;
}
.Todo, .NewTodo--create{
	min-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	width: 70vw;
	font-size: large;
	padding: 5px;
	background-color:rgb(211, 216, 224);
	border-radius: 5px;
	margin-top: 15px;
}

.TodoActions{
position: relative;
}
.Todo--completed{
	text-decoration: line-through;
}

.NewTodo{
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 50px;
	width: 50px;
	font-size: x-large;
	background-color: lawngreen;
	border: none;
	border-radius: 50%;
	/* transform: rotate(45); */
	transition: 0.3s ease;
}
.NewTodo__active {
  transform: rotate(135deg);
}
.TodoActions--delete{
	position: absolute;
	top: -20px;
	right: -13px;
	color: black;
	font-weight: 800;
	font-size: large;
	background: rgba(61, 65, 110, 0);
	border: none;
}
.TodoActions--delete:hover{
	color: darkred;
}
button{
	background: rgb(12 13 50 / 92%);
	height: 30px;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	line-height: 25px;
	margin: 0 5px;
}
.TodoActions--complete{
	width: 90px;

}
.TodoActions--complete__active{
	background-color: #282c34;
}

.TodoActions--edit{
	width: 40px;
}

.Todo input{
	
}